*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: gray;
}

.container{
    background-color: aliceblue;
    padding: 2.2rem;
}

.location_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 3rem;
    width: 300px;
    height: 200px;
}

.form_item{
    width: 100%;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid gray;
}

.input_location{
    padding: 0.5rem;
}

.btn_getLocation{
    cursor: pointer;
    background-color: lightsteelblue;
}

.btn_getLocation:hover{
    cursor: pointer;
    background-color: steelblue;
}

.weather_container{
}

.back{
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 2rem;
    transform: rotate(180deg);
}

.back span:hover{
    color: yellowgreen;
    cursor: pointer;
}

.hidde{
    display: none;
}